*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.parent{
  width: 800px;
  height: 700px;
  margin: auto;
  margin-top: 100px;
  border: 1px solid gray;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr ;
}

.child1{
  grid-column-start: 1;
  grid-column-end: 3 ;
  grid-row-start: 1 ;
  grid-row-end: 2;
  background-color: rgb(250, 246, 246);
  color: black;
  display: flex;
  padding-top: 1rem;
}

.child1 .content{
  margin: auto;
  padding-left: 3rem;
}

.child1 p{
  padding-bottom: 10px;
  font-size: smaller;
}

.child1 h3{
  padding-bottom: 15px;
}

.child1 img{
  width: 200px;
  height: 250px;
  object-fit: cover;
}

.child2 {
  /* grid-column-start: 3;
  grid-column-end: 5; */
  grid-column: 3 / 5;
  /* grid-row-start: 1;
  grid-row-end: 2; */
  grid-row: 1 / 2;
  background-color: rgb(255, 255, 255);
  color: black;
  margin: auto;
  text-align: center;
}

.child2 p{
  padding-bottom: 2rem;
  font-size: smaller;
}

.child2 h2{
  line-height: 2rem;
  padding-bottom: 2rem;
}

.child3 {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  background-color: rgb(245, 76, 53);
  color: white;
  text-align: center;
}

.child3 img{
  margin-top: 2rem;
  width: 150px;
  height: 100px;
}

.child3 a{
  color: yellow;
  font-size:x-small;
  text-decoration: none;
}

.child4 {
  grid-column: 2 / 4;
  grid-row: 2 / 3;
  background-color: white;
  display: flex;
  margin: auto;
  text-align: center;
}

.child4 .content p{
  margin: 0 3rem;
  line-height: 20px;
}

.child4 .content p{
  margin-left: 70px;
  color: gray;
  padding-top: 2rem;
  text-align: start;
  padding-bottom: 1rem;
}

.child4 .content a{
  font-size: x-small;
  font-weight: 600;
  padding-right: 2rem;
  text-decoration: none;
  color: rgb(10, 227, 243);
}

.child4 .img p{
  color: gray;
  margin-top: 2rem ;
  margin-left: 2rem;
}
.child4 .img h4{
  margin-top: 10px;
  margin-left: 2rem;
  font-size:medium;
}

.child4 img{
  margin-top: 1em;
  margin-left: 2rem;
  width: 100px;
  height: 110px;
  border-radius: 5%;
}

.child5 {
  grid-column: 2 / 4;
  grid-row: 3 / 4;
  background-color: cyan;
}

.child6{
  grid-column: 1 / 2;
  grid-row: 3 / 4;
  display: block;
  background-color: rgb(254, 247, 247);
  text-align: center;
}

.child6 img{
  margin-top: 1rem;
  width: 5rem;
  height: 100px;
}

.child6 a{
  text-decoration: none;
  color: rgb(10, 227, 243);
  font-size: x-small;

}

.child7 {
  grid-column: 4 / 5;
  grid-row: 2 / 5;
  background-color: brown;
}

@media screen and (min-length: 600px){
  .parent{
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
}