* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

nav {
  display: flex;
  justify-content: space-between;
  height: 70px;
}

nav h2 {
  display: flex;
  padding: 20px 50px;
  align-items: center;
}

nav ul {
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

nav a {
  color: rgb(0, 201, 201);
  text-decoration: none;
  text-transform: uppercase;
  font-size: large;
}

nav a:hover {
  color: black;
  text-shadow: 0 0 10px rgb(0, 202, 202);
  ;
}

.card1 {
  background-color: rgb(0, 202, 202);
  display: flex;
  flex-direction: column;
  color: white;
  align-items: center;
  padding: 40px;
}

.card1 img {
  width: 200px;
  border-radius: 50%;
  box-shadow: 0 0 10px black;
  margin-bottom: 20px;
}

.card1 h1 {
  padding-bottom: 10px;
}



.card2 {
  width: 1500px;
  display: flex;
  padding: 40px;
  justify-content: space-between;

}

.content h3 {
  padding-top: 10px;
  padding-bottom: 20px;
}

.content p {
  padding-top: 5px;
  padding-bottom: 5px;
}

.content {
  width: 400px;
}

.content img {
  margin-bottom: 10px;
  width: 100%;
  height: 250px;
}