body {
            background-color: #d3d3d3;
            font-family: Georgia, serif;
            padding: 20px;
        }

        .img-left {
            float: left;
            width: 400px;
            margin-right: 20px;
            margin-bottom: 10px;
        }

        .img-right {
            float: right;
            width: 400px;
            margin-left: 20px;
            margin-top: 10px;
            margin-bottom: 10px;
        }

        p {
            text-align: justify;
            line-height: 1.6;
        }

        .clear {
            clear: both;
        }