* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.parent {
  width: 1500px;
  height: 700px;
  margin: auto;
  margin-top: 100px;
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.child1 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  background-color: rgb(136, 48, 212);
  color: white;
  display: flex;
  padding-top: 1rem;
  border-radius: 1rem;
}


.child1  {
  flex-direction: column;
  justify-content: center;
}

.profile {
  display: flex;
  align-items:flex-start;
  /* vertical alignment */
  gap: 12px;
  /* space between img and text */
}

.info {
  display: flex;
  flex-direction: column;
}

.profile img {
  width: 50px;
  height: 50px;
  margin-left: 3rem;
  margin-bottom: 20px;
  border-radius: 100%;
  border: 3px, solid, rgb(191, 8, 237);
  object-fit:fill;
}
.content{
  padding: 0 3rem;
}
.content h5{
  font-weight: bold;
  padding-bottom: 15px;
}

.content p{
  font-size: small;
}

.profile h5{
  font-weight: bold;
  font-size: large;
}

.child2 .child1{
  grid-column: 3 / 4;
  grid-row: 1 / 2;
  background-color: rgb(69, 88, 120);
}

.child2 img{
  border: 3px, solid, white;
}
.child2 p {
  padding-bottom: 2rem;
  font-size: smaller;
}

.child3 {
  grid-column: 4 / 5;
  grid-row: 1 / 3;
  background-color: rgb(235, 230, 230);
  color: black;
  text-align: left;
  /* height: 80vh; */
  padding-top: 50px;
  border-radius: 15px;
}



.child4 {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  background-color: rgb(235, 230, 230);
  color: black;
  border-radius: 15px;
}

.child3 img, .child4 img{
  border: none;
}
.child5 {
  grid-column: 2 / 4;
  grid-row: 2 / 3;
  background-color: rgb(31, 40, 55);
  border-radius: 15px;
}


@media screen and (min-length: 600px) {
  .parent {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
}